/* 12/10/2016*/
body
{
	background:#FDF5E6; /* Color del fondo: Beige */
	color:#000000;  /* Color de la letra: Black */
}
div
{
		background:#fbecd0;
		width:50%;
		padding:5px;
		margin:5px;
		display:inline-block; --Se pone un bloque al lado del otro
}
